.App {
  text-align: center;
}

.weather-div {
  font-size: 13px;
  padding: 30px 50px;
  width: 800px;
}

table {
  border: 1px solid #ccc;
}

tr {
  border-bottom: 1px solid #ccc;
}

th {
  background: #2255cc;
  color: #fff;
}

th, td {
  border-right: 1px solid #ccc;
  padding: 10px;
}

select {
  padding: 5px 8px;
}